<h1><%= t "edit" %></h1>
<%= form_for @student do |s| %>
  <div class="form-group border">
    <%= s.label :name, t("name")%>
    <%= s.text_field :name, :class =>"form-control"%>
    <%= s.label :apartment, t("appar")%>
    <%= s.number_field :apartment, :class => "form-control"%>
    <label for="house"><%= t "house" %></label>
    <input type="number" name="house" value="<%= @house.number %>" class="form-control">
    <label for="street"><%= t "street" %></label>
    <input type="text" name="street" value="<%= @street.name %>" class="form-control">
    <br>
    <%= s.submit t("update"), :class => "btn btn-primary" %>
  </div>
<% end %>
<%= button_to t("delete"), @student, :method => :delete ,:class => "btn btn-danger" %>
<br>
