<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lab7</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
      <header class="bg-info text-center h1">
        <%= t "top" %>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 bg-success">
            <%= yield %>
          </div>
        </div>
        <br>
        <div class="row col-lg-offset-2">
            <%= button_to t( "allStreets"), streets_path, method: :get, class: "btn btn-info col-lg-3"%>
            <%= button_to t( "allStudents"), students_path, method: :get, class: "btn btn-info col-lg-3"%>
            <%= button_to t( "add"), new_student_path, method: :get, class: "btn btn-success col-lg-3"%>
        </div>
      </div>
      <footer class="bg-info text-center h3">
        <%=link_to "Українська", streets_path(locale: :ua)%> |
        <%=link_to "English", streets_path(locale: :en) %><br>
        <%= t "bottom" %>
      </footer>
  </body>
</html>
